Repository owncloud/twofactor_totp, pull requests merged in 2019-01, with the labels that each got.

#88 Add acceptance tests for occ
  .drone.yml
  Makefile
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/TwoFactorTOTPContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/cliTwoFactorTOTP/steps.feature
  tests/acceptance/features/lib/PersonalSecuritySettingsPageWithTOTPEnabled.php
  vendor-bin/behat/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#92 php_codesniffer and tidy vendor-bin-behat changes
  Makefile
  phpcs.xml
  vendor-bin/php_codesniffer/composer.json
Labels: 4 - To release, QA-team, dev:acceptance-tests

#90 listen user.afterdelete event to clear deleted user secrets
  appinfo/app.php
  appinfo/info.xml
  lib/Db/TotpSecretMapper.php
  lib/Hooks.php
  tests/unit/Db/TotpSecretMapperTest.php
  tests/unit/HooksTest.php
Labels: 3 - To review

#96 Unskip acceptance test scenario for issue 89
  tests/acceptance/features/cliTwoFactorTOTP/steps.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests
