Repository owncloud/twofactor_totp, pull requests merged in 2019-11, with the labels that each got.

#153 Updating symfony/polyfill-ctype (v1.11.0 => v1.12.0)
  composer.lock
Labels: 3 - To review, dependencies

#154 Run with encryption enabled
  .drone.starlark
  .drone.yml
Labels: 3 - To review, Drone, QA-team

#155 Implement current drone starlark code
  .drone.starlark
Labels: 3 - To review, Drone, QA-team

#156 Drop PHP 7.0 from drone CI
  .drone.starlark
  .drone.yml
Labels: 4 - To release, Drone, QA-team
