Repository owncloud/twofactor_totp, pull requests merged in 2019-02, with the labels that each got.

#98 Test verification of TOTP through webui
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/TwoFactorTOTPContext.php
  tests/acceptance/features/lib/PersonalSecuritySettingsPageWithTOTPEnabled.php
  tests/acceptance/features/webUITwoFactorTOTP/keyVerification.feature
Labels: 4 - To release, QA-team, dev:acceptance-tests

#100 Remove unneeded composer.phar references in Makefile
  Makefile
Labels: 4 - To release, QA-team

#101 Fix composer install
  Makefile
Labels: 4 - To release, QA-team

#102 remove unneeded test steps
  tests/acceptance/features/cliTwoFactorTOTP/steps.feature
Labels: 3 - To review, QA-team, dev:acceptance-tests
